In [1]:
%store -r pooledpdict

In [2]:
import pandas as pd
import numpy as np
from itertools import cycle

In [3]:
def preprocessing(pdict):
    #forming a dataframe
    df = pd.DataFrame(pdict).T 
    
    #forming a dataframe by mapping each image of a patient to its label and patient id
    def func(idx):
        return list(zip(cycle([idx]),df.loc[idx,'images'],cycle([df.loc[idx,'label']])))
    
    df_all = list(map(func,df.index))
    spreadlist = sum(df_all,[])
    new_df = pd.DataFrame(spreadlist,columns=['PatientID','Image','label'])
    
    #splitting that new dataframe into train and test
    total = len(new_df)
    test = int(np.ceil(0.2*total))
    train = total-test
    
    dftrain = new_df.iloc[0:train]
    dftest = new_df.iloc[train:]
    
    return dftrain,dftest

In [4]:
dftr,dfte = preprocessing(pooledpdict)

In [9]:
# file_name = "train_csv.pkl"
# dftr.to_pickle(file_name)

In [10]:
# mydf = pd.read_pickle('train_csv.pkl')

In [11]:
# mydf.head()

      PatientID                                              Image  label
0  TCGA-CS-4938  [[25, 24, 6, 25, 13, 10, 18, 17, 18, 46, 30, 7...  Alive
1  TCGA-CS-4938  [[14, 15, 4, 14, 15, 7, 8, 16, 28, 19, 19, 20,...  Alive
2  TCGA-CS-4938  [[25, 9, 22, 14, 35, 20, 8, 18, 11, 16, 36, 41...  Alive
3  TCGA-CS-4938  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  Alive
4  TCGA-CS-4938  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  Alive

In [12]:
# file_name_test = "test_data.pkl"
# dfte.to_pickle(file_name_test)